.hero-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#DescBox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        padding-bottom: 40%;
    }

    h1 {
        font-size: 3.5rem;
        align-self: flex-start;
        @media (max-width: 768px){
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 3rem;
        padding-bottom: 30px;
        @media (max-width: 768px){
            font-size: 1rem;
            padding-bottom: 10px;
        }
    }
}

#ImgBox {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
        padding-bottom: 40%;
    }

    img {
        width: 500px;
        height: 500px;  
        
        @media (max-width: 768px){
            
            width: 150px;
            height: 150px;
        }
    }
    
}



.contactBtn {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background: $dark;

    &:hover {
        background: $primary;
        
        a {
            color: $dark;
        }
    }

    a {
        color: $primary;
        font-size: 1rem;
        text-decoration: none;
    }

    @media (max-width:768px) {
        width: 100px;
        height: 30px;
        
        a {
            font-size: 0.75rem;
        }
    }
}
