.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    background-color: $dark;
    color: $light;

    h2 {
        font-size: 2.5rem;
        padding-top: 25px;

        @media (max-width:768px) {
            font-size: 1.75rem;
            padding-top: 17.5px;
        }

        @media (max-width:520px) {
            font-size: 1.2rem;
        }
    }

    .content {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        padding: 25px;

        @media (max-width:768px) {
            padding: 50px;
        }

        @media (max-width:520px) {
            padding: 5px;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: initial;
        }

        @media (max-width:280px) { //Galaxy-Fold
            justify-content: space-around;

        }

        .languages-container, .framework-container,
        .ft-container, .ot-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width:520px) {
                width: 80%;
                padding: 15px 0;
            }

            @media (max-width:420px) {
                width: 90%;
                padding: 5px 0;
            }

            @media (max-width:420px) {
                width: 90%;
                padding: 5px 0;
            }

            @media (max-width:320px) {
                width: 100%;
                padding: 2px 0;
            }
           
            h3 {
                font-size: 1.5rem;
                padding: 10px;

                @media (max-width:768px) {
                    font-size: 1.25rem;
                }

                @media (max-width:520px) {
                    padding: 15px;
                    padding-bottom: 7.5px;
                    font-size: 0.9rem;
                }

              
            }

        }
            
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media (max-width:520px) {
                padding: 10px;
            }

            @media (max-width:400px) {
                padding: 0px;
            }
            
            li {
                list-style: none;
                padding: 15px;

                @media (max-width:768px) {
                    padding: 10px;
                }

                @media (max-width:520px) {
                    padding: 5px;
                }

                @media (max-width:320px) {
                    padding: 2px;
                }
               
            }
        }
    }
}