footer {
    height: 100px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    .copy {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;

        @media (max-width: 520px) {
            font-size: 1.3rem;
        }

        @media (max-width: 320px) {
            font-size: 1rem;
        }
    }

    .links-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}