.icon-btn {
    position: relative;
    z-index: 10;
    top: -60px;
    left: 175px;
    width: 40px;
    height: 40px;
    opacity: 1;
    border: none;
    background-color: rgba($color: $light, $alpha: 0.5);

    &:hover {
        opacity: 1;
    }

    @media (max-width: 768px) {
        top: -45px;
        left: 125px;
        width: 30px;
        height: 30px;
        }

    @media (max-width: 520px) {
    top: -40px;
    left: 75px;
    width: 35px;
    height: 35px;
    }
}

.close-btn {
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}